.container {
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 68, 89, 0.4);
  box-shadow: 0px 4px 12px rgba(24, 86, 105, 0.15);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  background-color: white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 2px;
  flex-direction: column;
}

.yieldContainer {
  display: flex;
  margin-bottom: 20px;
}

.button {
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #0070f3;
  color: white;
}

.close {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.tokenContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  padding: 12px;
}

.name {
  margin-left: 4px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.simulationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simulationTypes {
  display: flex;
}
